.root{
    width: 100%;
    padding: 1rem 1rem;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    .list{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        padding: 0;
        margin: 0;
    }

}

.linkLogo, .link{
    text-decoration: none;
    color: white;
    padding: 0;
    margin: 0;
}
.linkLogo{
    font-size: 2cap;
    img{
        width: 8cap;
    }
}
.link {
    font-size: 1.7cap;
}