// character
.character_cont {
  position: relative;
  width: 100%;
  height: 300px;
  background: url("../../../assets/img/pxfuel.jpg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.527);
  }
}

.character_card {
  width: 150px;
  height: 280px;
  position: relative;
  /* Определяем радиус скругления углов: верхний левый, нижний левый, нижний правый, верхний правый */
  z-index: 1;
  clip-path: polygon(70% 0, 100% 50%, 70% 100%, 0 100%, 30% 50%, 0 0);
}

//
// Comics
.rootComics {
  position: relative;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  background: url("../../../assets/img/banner-comics.jpeg") center/cover
    no-repeat;
  border-top: 1px solid white;
  .cont_comics_text {
    position: absolute;
    left: 0;
    top: 0;
    width: 55%;
    height: 100%;
    padding: 2rem;
    background-color: black;
    color: white;
    clip-path: polygon(0% 0%, 85% 0%, 100% 100%, 0% 100%);
    .cont_text {
      .logo_comics {
        width: 8cap;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .text_comics {
        p {
          font-size: 6cap;
        }
      }
    }
  }

  .cont_comics {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .cont_card_comics {
      display: flex;
      align-items: center;
      transform: skewY(-2.5deg);

      .card_cmics {
        width: 150px;
        height: 250px;
        left: 0;
        bottom: 0;
        cursor: pointer;
        transition: 0.5s;
        transform: perspective(550px) rotateY(-45deg);
        margin-right: -30px;

        &::after {
          content: "";
          width: 150px;
          height: 250px;
          transition: 0.5s;
          transform: perspective(550px) rotateY(-45deg);
        }
        @media (hover: hover) {
          &:hover {
            transform: scale(1.1);
            z-index: 99999 !important;
          }
        }
        @media (hover: none) {
          &:active {
            transform: scale(1.1);
            z-index: 99999 !important;
          }
        }
      }
    }
  }
}

// event
.borderTop {
  border-top: 1px solid white;
}
.rootEvent {
  position: relative;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding-top: 40px;
  max-width: 1500px;
  margin: 0 auto;
  .eventCards {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    transition: 0.5s;
    position: relative;
  }

  &::after {
    content: "Events";
    position: absolute;
    top: 5px;
    left: 10px;
    color: white;
    font-size: 5cap;
  }
}
@media screen and (min-width: 1500px) {
  .rootComics {
    flex-wrap: nowrap;
    .cont_comics_text {
      position: relative;
    }
    .cont_comics,
    .cont_text {
      max-width: 750px;
      position: relative;
    }
    .cont_text {
      margin-left: auto;
    }
    .cont_comics {
      margin-right: auto;
    }
  }
}
@media screen and (max-width: 1272px) {
  .rootComics {
    .cont_comics {
      .cont_card_comics {
        .card_cmics {
          width: 120px;
          height: 200px;
          &::after {
            width: 00px;
            height: 00px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 980px) {
  .rootComics {
    height: 250px;
    .cont_comics_text {
      .text_comics {
        p {
          font-size: 3cap;
        }
      }
    }
    .cont_comics {
      .cont_card_comics {
        .card_cmics {
          width: 100px;
          height: 170px;
        }
      }
    }
  }
  .rootEvent {
    padding-top: 0px;
    &::after {
      font-size: 2.5cap;
    }
  }
}
@media screen and (max-width: 800px) {
  .rootComics {
    height: 200px;
    .cont_comics {
      .cont_card_comics {
        .card_cmics {
          width: 80px;
          height: 150px;
        }
      }
    }
  }
  .character_card {
    width: 120px;
    height: 250px;
  }
  .rootEvent {
    height: 200px;
  }
}
@media screen and (max-width: 642px) {
  .rootComics {
    .cont_comics {
      .cont_card_comics {
        .card_cmics {
          width: 75px;
        }
        .card_cmics:last-child {
          display: none;
        }
      }
    }
  }
  .character_card {
    width: 100px;
    height: 230px;
  }
}
@media screen and (max-width: 600px) {
  .rootEvent {
    .eventCards {
      div:last-child {
        display: none;
      }
    }
  }
}
@media screen and (max-width: 542px) {
  .rootComics {
    height: auto;
    padding-bottom: 1rem;
    .cont_comics_text {
      position: relative;
      clip-path: none;
      width: 100%;
      .text_comics {
        font-size: 1cap;
        p {
          margin: 1rem 0;
        }
      }
    }
    .cont_comics {
      width: 100%;
      .cont_card_comics {
        .card_cmics {
          width: 100px;
        }
        .card_cmics:last-child {
          display: block;
        }
      }
    }
  }
  .character_cont {
    height: 200px;
  }
  .character_card {
    width: 70px;
    height: 130px;
  }
}

@media screen and (max-width: 462px) {
  .rootComics {
    .cont_comics {
      .cont_card_comics {
        .card_cmics {
          width: 80px;
          transform: perspective(550px) rotateY(-55deg);
        }
      }
    }
  }
  .character_cont {
    height: 200px;
  }
  .character_card {
    width: 70px;
    height: 130px;
  }
}

@media screen and (max-width: 405px) {
  .character_cont {
    height: 150px;
  }
  .character_card {
    width: 50px;
    height: 110px;
  }
  .rootEvent {
    height: 150px;
  }
}
@media screen and (max-width: 320px) {
  .rootComics {
    .cont_comics {
      .cont_card_comics {
        .card_cmics {
          width: 70px;
        }
      }
    }
  }
  .character_cont {
    height: 100px;
  }
  .character_card {
    width: 35px;
    height: 70px;
  }
}
