.root {
  width: 100%;
  margin-bottom: 0rem;
  max-width: 1500px;
  margin: 0 auto;
  .contText {
    width: 100%;
    text-align: end;
    padding-right: 10px;

    button {
      background-color: transparent;
      border: none;
      p {
        margin: 0;
        padding: 0;
        color: white;
        font-size: 5cap;
        cursor: pointer;
      }
    }
  }

  .contCards {
    margin-bottom: 4rem;
    display: flex;
    align-items: top;
    justify-content: start;
    gap: 20px;
    overflow-x: visible;
    overflow-y: hidden;
    scroll-behavior: smooth;
    padding: 0 10px;

    &::-webkit-scrollbar {
      height: 0;
      max-width: 50px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: white;
      /* Цвет бегунка (ползунка) */
      border-radius: 40rem;
      /* Закругление углов бегунка (ползунка) */
    }
  }
}
@media screen and (max-width: 980px) {
  .root {
    .contText {
      button {
        p {
          font-size: 2.5cap;
        }
      }
    }
  }
}
