.root {
  width: 100%;
  text-align: center;
  padding: 1cap 0;
  .search {
    width: 50cap;
    padding: 1cap 2cap;
    border-radius: 50rem;
    border: 1px solid gray;
    background-color: transparent;
    color: white;
  }
}
@media screen and (max-width: 720px) {
  .root {
    .search {
      width: 35cap;
    }
  }
}

@media screen and (max-width: 380px) {
  .root {
    .search {
      width: fit-content;
    }
  }
}
